<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="BENCHMARK_SIFTING" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>methodName</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${methodName}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${methodName}.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <logger name="BENCHMARK_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="BENCHMARK_SIFTING" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>